*{
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body{
    margin: 0 auto;
    background-image: linear-gradient(90deg, #6C4AB6 -10%, #F56FA1 150%);
    background-size: 200% 200%;
    animation: gradientAnimation 4s ease-in-out infinite
}

#contenedorPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.212);
}

#contenedorTitulo{
    font-family: "Unbounded";
    color: white;
    font-size: 25pt;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    text-decoration: none;
}

h1 a{
    text-decoration: none;
    color: white;
}

h5 {
    margin-top: 0;
    font-size: 18pt;
}

#formulario {
    display: grid;
    grid-template-columns: 100%;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 30vh;
    padding: 40px;
}

#formulario * {
    margin-bottom: 20px;
    font-size: 14pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#formulario2 {
    display: grid;
    grid-template-columns: 100%;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 25vh;
    padding: 40px;
    width: 45%;
}

#formulario2 * {
    margin-bottom: 15px;
    font-size: 14pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#username {
    font-size: 16pt;
}

#contrasenha {
    font-size: 16pt;
}

#boton {
    margin-top: 40px;
    font-size: 17pt;
    border-radius: 10px;
    padding: 5px 0;
    border: 1px solid black;
    background-image: linear-gradient(90deg, #916ae4, #ffa7c7 150%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.555);
}

#boton:hover{
    cursor: pointer;
}

#boton:active{
    transform: scale(0.99);
    box-shadow: none;
}

#nuevaCuenta {
    margin-top: 15px;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}